body{
    background-color: rgb(52, 157, 189);
    font-family: 'Neonderthaw', cursive;
    border: 5px, solid, red;
    margin: 0px;
}
section{
    height: 500px;
}
.first-section{
    background-image: url("/Images/exp-bg.png");
    background-repeat: no-repeat;
    background-color: skyblue;
    margin: 2%;
    height: 600px
}
.second-section{
    background-image: url("/Images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: slateblue;
    margin: 2%;
    height: 600px;
}
.third-section{
    background-image: url("/Images/image18.png");
    background-repeat: no-repeat;
    background-position: right;
    background-color: indianred;
    margin: 2%;
    height: 450px;
}
.top{
    margin: 0%;
    height: auto;
    text-align: left;
    position:static;
}
.one{
    background-image: url("/Images/background.png");
    background-repeat: no-repeat;
    font-size: 40px;
    border-radius: 50px;
    text-align: left;
    background-color: honeydew;
    padding-left: 10px;
    width: 50%;
    margin: 0%;
}
.name{
    color: rgb(129, 59, 161);
    position: relative;
}
#header-1{
    font-size: 30px;
}
#pragraf-1{
    font-size: 20px;
}
.first-half-1{
    float: left;
    margin-left: 17%;
    margin-top: 2%;
    width: 30%;
    padding-left: 2%;
    position: relative;
    height: 600px;
    background-color: white;
}
.first-half-1 img{
    width: 100%;
    height: 300px;
    float: right;
    border-radius: 50%;
    margin: 3%;
    position: relative;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(27, 197, 41), tomato);
    padding: 3%;
    border-radius: 10%;
    color: seashell;
    font-family: 'Times New Roman', Times, serif;
}
.shadow{
    height: 350px;
    box-shadow: 10px 10px 50px black;
    border-radius: 10px;
}
#first{
    border-left: 7px solid;
    border-image: linear-gradient(0deg,rgb(6, 10, 248),tomato);
    border-image-slice: 1;
}
footer{
    text-align: center;
}